*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#050816;
    color:white;
    font-family:'Segoe UI',sans-serif;
}

.container{
    width:90%;
    max-width:1400px;
    margin:auto;
    padding:30px;
    text-align:center;
}

h1{
    color:#00ffff;
    text-shadow:0 0 20px cyan;
    margin-bottom:15px;
}

.subtitle{
    margin-bottom:30px;
    color:#d1d5db;
}

.stats{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.card{
    background:#111827;
    width:200px;
    padding:20px;
    border-radius:15px;
    border:2px solid cyan;
}

.card span{
    font-size:32px;
    color:#00ff88;
    font-weight:bold;
}

.difficulty-section{
    margin-bottom:20px;
}

.difficulty-buttons{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
}

.difficulty-btn{
    background:#111827;
    color:white;
    border:2px solid cyan;
    padding:12px 25px;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
}

.difficulty-btn:hover{
    background:cyan;
    color:black;
}

#startBtn{
    margin-top:20px;
    margin-bottom:25px;

    background:cyan;
    color:black;

    border:none;

    padding:15px 35px;

    border-radius:10px;

    cursor:pointer;

    font-size:18px;
    font-weight:bold;
}

.game-section{
    background:#111827;
    padding:25px;
    border-radius:15px;
}

.block{
    min-width:70px;
    height:70px;

    padding:0 10px;

    background:#2563eb;

    display:inline-flex;
    justify-content:center;
    align-items:center;

    margin:8px;

    border-radius:12px;

    cursor:pointer;

    font-size:24px;
    font-weight:bold;

    transition:.3s;
}

.block:hover{
    background:#3b82f6;
    transform:translateY(-5px);
}

#message{
    margin-top:30px;
    font-size:30px;
    font-weight:bold;
}

#resultsPanel{
    margin-top:30px;
}

.results-card{
    background:#111827;
    border:2px solid cyan;
    border-radius:15px;
    padding:25px;
    max-width:800px;
    margin:auto;
    text-align:left;
}

.results-card h2{
    color:#00ffff;
    margin-bottom:15px;
}

.results-card p{
    margin:10px 0;
    font-size:18px;
}